*{
    font-family: font-family: 'Inter', sans-serif;;
}
.banner{
    background-image: url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: auto;
    position: relative;
    border-radius: 16px;
    margin-top: 25px 70px ;  
}

.head{
    position: absolute;
    text-align: center;
    width: 1320px;
    height: 600px;
    padding-top: 10%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    

}
h3{
    font-size: 40px;
    color: #ffffff;
    font-family: ;
}
h1{
    font-size: 70px;
    color: #ffffff;
}
#big{
    font-size: 88px;
    color: #ff0000;
    text-align: center;
}
.our{
    text-align:center ;
    color: #ff0000;
}
#more{
    color: #000000;
    font-size: 48px;
}
img{
    width: 600px;
    height: 400px;
    padding-left: 30%;
}
.add-photo{
    background-image: url(resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    margin-top: 80px;

}
.welcome{
    
    background:#070211, #07021100 ;

}
.welcome>p{
    color: #ffffff;

}
.welcome>.text1{
    font-size: 64px;
}
.welcome{
    padding: 130px 5px 130px 130px;
}
.first-btn{
    background: #ff0000;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}
.Group70{
    width: 250.83px;
    height: 600px;
    padding-top: 10% ;
}
.join-div{
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    margin: 50px ; 
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding-top: 100px;
    margin-top: 50px;
}
#color{
    color: #ff0000;
}
.join{
    background: #ff0000;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}
.first{
    width: 400px;
    height: 400px;
    padding-top: 100px;
    

}
.parent{
    width: 1320px;
    height: 800px;
    display: flex;
    margin-top: 50px;
    margin: auto;
    padding-right: 20px;
 justify-content: space-between;
}
.style1{
    color: #ff0000;
    font-size: 24px;
    margin-right: 30px;
    
}
.style2{
    color: #070211;
    font-size: 48px;
}
.goll{
  width: 400px;
  height: 400px;
  border: 15px solid #ff0000;
  border-radius: 50%;
  background-image: url("resources/Ellipse 1.png");
    background-repeat: no-repeat;
    background-position: center;
  
}
#pic-small{
    width: 140px;
    height: 140px;
    padding-left: 0%;
    
}
.year{
    font-size: 48px;
    color: #ff0000;
    
}
.last{
    padding-top: 70px ;
}

.center{
    font-size: 30px;
    color: #000000;
    text-align: center;
}
#red-color{
    color: #ff0000;
}
.big-font{
    font-size: 72px;
    text-align: center;
}
.some-text{
    text-align: center;
}
.bonnus-part{
    width: 1440px;
    height: 625px;
    display: flex;
    background-image: url(resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: auto;
}

.Group70{
    margin-left:70px ;
}


.Rectangle1{
    background-image: url(resources/Group\ 44.png);
    background-repeat: no-repeat;
    margin-left: 600px;
    position: absolute;
    
}
#frotpoloio{
    width: 1320px;
    margin: auto;
}
.frotpoloio{
    color: #ff0000;
    font-size: 24px;
}
.frotpoloio2{
    color: #070211;
}
.grid-leyout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 1320px;
    padding: auto;
    
}
.img-box{
    width: 350px;
    height: 320px;
    padding-bottom: 70px;
    margin-inline: 20px;
}
.img-style{
    width: 300px;
    width: 320px;
    margin-bottom: 100px;
}
